<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Weather App</h1>
      <input
        type="text"
        [(ngModel)]="city"
        class="city-input"
        placeholder="Enter City name"
      />
      <br>
      <br>
      <button (click)="searchWeather()" class="search-btn">Search</button>
      <div *ngIf="weatherData" class="weather-info">
        <p> {{this.weatherData['current']['condition'] ['text']}}</p>
        <!-- <h2>
          {{ weatherData.name }} ,

          {{ weatherData.sys.country }}
        </h2>
        <p>Temperature: {{ weatherData.main.temp }}°C</p>
        <p>Weather: {{ weatherData.weather[0].description }}</p> -->
      </div>
    </div>
  </body>
</html>
